@import "tailwindcss";

@theme {
  --color-primary-100: #033487;
  --color-background-100: #eff3f4;
  --color-background-200: #ebeff5;
  --color-background-300: #ebeff6;
  --color-background-400: #f6f6f6;
  --color-border-100: #dddddd;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #cbd5e0;
  border-radius: 10px;
}
